.pinFollow{
  width: 1vw;
  height: auto;
  z-index: 1;
}

.pinButton {
  z-index: 1;
  position: fixed;
  width: 4vw;
  height: auto;
  bottom: 2%;
  left: 2%;
}

.topMenu li{
  display: inline;
  color: #ffffff;
  padding: 0.5em;
  font-size: 12;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.topMenu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 1;
  background-color:darkturquoise;
}

body{
  background-color: #15212b;
  overflow: hidden;
}

.imgMapRule{
  height: 100%;
  width: 80%;
}

.mapRule div{
  width: auto;
  height: 90vh;
}